<md-toolbar color="primary">AKS</md-toolbar>
<md-card color="primary">
  <md-card-title style="text-align: center;">注册</md-card-title>
  <md-card-content>
    <form class="form" [formGroup]="registerForm" novalidate>
      <md-input-container class="full-width">
        <input mdInput type="text" [(ngModel)]="seller.username" placeholder="用户名" formControlName="username">
        <md-error *ngIf="registerForm.controls.username.hasError('minlength')">
          <strong>最小输入4个字符</strong>
        </md-error>
        <md-error *ngIf="registerForm.controls.username.hasError('maxlength')">
          <strong>最多输入20个字符</strong>
        </md-error>
        <md-error *ngIf="registerForm.controls.username.hasError('required')">
          <strong>必需</strong>
        </md-error>
      </md-input-container>
      <br>
      <md-input-container class="full-width">
        <input mdInput type="text" [(ngModel)]="seller.brand" placeholder="品牌名" formControlName="brand">
        <md-error *ngIf="registerForm.controls.brand.hasError('minlength')">
          <strong>最小输入2个字符</strong>
        </md-error>
        <md-error *ngIf="registerForm.controls.brand.hasError('maxlength')">
          <strong>最多输入32个字符</strong>
        </md-error>
        <md-error *ngIf="registerForm.controls.brand.hasError('required')">
          <strong>必需</strong>
        </md-error>
      </md-input-container>
      <br>
      <md-input-container class="full-width">
        <input mdInput type="password" [(ngModel)]="seller.password" placeholder="密码" formControlName="password" validateEqual="confirmPassword" reverse=true>
        <md-error *ngIf="registerForm.controls.password.hasError('minlength')">
          <strong>最小输入6个字符</strong>
        </md-error>
        <md-error *ngIf="registerForm.controls.password.hasError('required')">
          <strong>必需</strong>
        </md-error>
      </md-input-container>
      <br>
      <md-input-container class="full-width">
        <input mdInput type="password" placeholder="确认密码" formControlName="confirmPassword" validateEqual="password" >
        <md-error *ngIf="registerForm.controls.confirmPassword.invalid">
          <strong>两次密码输入不一致</strong>
        </md-error>        
      </md-input-container>
      <br>
      <p *ngIf="errorMsg">{{errorMsg}}</p>
      <button (click)="doRegister()" md-raised-button color="primary" type="submit" name="action" [disabled]="registerForm.invalid">注册</button>
    </form>
  </md-card-content>
</md-card>